html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}

body {
	font: caption;
	background-color: #eee;
}

.frm_disp {
	height: 100%;
	margin: 0;
	border: 5px solid #dee;
	font-size: 12px;
}
